<p style="color: green"><%= notice %></p>
<h1><%= @folder.name %></h1>



<div>
  <%= link_to "Edit this folder", edit_folder_path(@folder) %> |
  <%= link_to "Back to folders", folders_path %>

  <%= button_to "Destroy this folder", @folder, method: :delete %>
</div>

<h3><%= @folder.name %> Folder Items</h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Item Name</th>
      <th>Description</th>
      <!-- Add more columns if needed -->
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.product.name, item %></td>
        <td><%= item.product.description %></td>
        <!-- Add more cells for additional attributes -->
      </tr>
    <% end %>
  </tbody>
</table>
