<div class="container mt-5">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="card-title mb-4 text-center">Create New Purchase</h1>
    
      <%= form_with model: @purchase, url: purchases_path, class: "p-5", method: :post, multipart: true do |form| %>
        <% if @purchase.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

            <ul>
              <% @purchase.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :receipt, class: "form-label" %>
          <%= form.file_field :receipt %>
        </div>

        <!-- Hidden user_id field with current user's ID -->
        <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="text-center">
          <%= form.submit "Create Purchase", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
