<p style="color: green"><%= notice %></p>

<h1>Facilities</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= facility.address %></td>
        <td><%= link_to facility_path(facility), class: "custom-link" do %>
            <%= image_tag asset_path('list.svg') %>
            Details
          <% end %>
        </td>

      </td>
    </tr>
  <% end %>
</tbody>
</table>
