<p style="color: green"><%= notice %></p>

<h2><%= @facility.name %> Item List</h2>

<div>
  <%= link_to "Edit this facility", edit_facility_path(@facility) %> |
  <%= link_to "Back to facilities", facilities_path %>

  <%= button_to "Destroy this facility", @facility, method: :delete %>
</div>
<div class="container mt-5">
  <div class="card">
    <div class="card-header"> <!-- Added bg-secondary class for grey header -->
      <h5 class="card-title">Facility Items</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Item Name</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @facility.items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td><%= link_to item, class: "custom-link" do %>
                    <%= image_tag asset_path('list.svg') %>
                    <%= item.product.name %>
                  <% end %>
                </td>
                <td><%= item.product.description %></td>
                <td>
                  <% if item.status == "Active" %>
                    <%= image_tag asset_path('active.svg') %>
                  <% else %>
                    <%= image_tag asset_path('inactive.svg') %>
                  <% end %>
                  <%= item.status %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
