<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :facility_id, "Facility" %>
    <%= form.collection_select :facility_id, Facility.all, :id, :name, prompt: "Select a facility" %>
  </div>

  <div class="field">
    <%= form.label :folder_id, "Folder" %>
    <%= form.collection_select :folder_id, Folder.all, :id, :name, prompt: "Select a folder" %>
  </div>

  <div class="field">
    <%= form.label :product_id, "Product" %>
    <%= form.collection_select :product_id, Product.all, :id, :name, prompt: "Select a product" %>
  </div>

<div class="field">
  <%= form.label :status, "Status" %>
  <%= form.select :status, Item.statuses.keys.map { |status| [status, status] }, prompt: "Select a status" %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
