<div id="<%= dom_id item %>">

 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Facility</th>
      <th scope="col">Folder</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= item.product.name %></td>
      <td><%= item.facility.name %></td>
      <td><%= item.folder.name %></td>
      <td><%= link_to "Show this item", item %>
    </tr>
  </tbody>
</table>

</div>
