<div id="<%= dom_id item %>">
  <p>
    <strong>Item Name:</strong>
    <%= item.product.name %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= item.status %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= item.facility.name %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= item.folder.name %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= item.purchase.created_at %>
  </p>

 

</div>
