<div id="<%= dom_id item %>">
  <p>
    <strong>Status:</strong>
    <%= item.status %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= item.facility_id %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= item.folder_id %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= item.purchase_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= item.product_id %>
  </p>

</div>
