
<h1>Items</h1>



  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Item name:</th>
        <th>Facility:</th>
        <th>Folder:</th>
        <th>Purchase Date:</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.product.name, item %></td>
          <td><%= link_to item.facility.name, facility_path(item.facility_id) %></td>
          <td><%= link_to item.folder.name, folder_path(item.folder_id) %></td>
          <td><%= item.purchase.created_at.strftime("%D") %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
