<h1>Create New Item</h1>

<%= form_with model: @item, url: items_path, method: :post, html: { multipart: true } do |form| %>
   <div class="field">
    <%= form.label :purchase_id %>
    <%= form.collection_select :purchase_id, Purchase.all, :id, :receipt, prompt: "Select or create a purchase" %>
    <%= link_to "Create New Purchase", new_purchase_path %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all, :id, :name, prompt: "Select or create a product" %>
    <%= link_to "Create New Product", new_product_path %>
  </div>

  <div class="field">
    <%= form.label :facility_id %>
    <%= form.collection_select :facility_id, Facility.all, :id, :name, prompt: "Select or create a facility" %>
    <%= link_to "Create New Facility", new_facility_path %>
  </div>

  <div class="field">
    <%= form.label :folder_id %>
    <%= form.collection_select :folder_id, Folder.all, :id, :name, prompt: "Select or create a folder" %>
    <%= link_to "Create New Folder", new_folder_path %>
  </div>

 
  <div class="actions">
    <%= form.submit "Create Item" %>
  </div>
<% end %>
